.main > #relation{
    height: 100%;
}
.main{
    display:block;
    width: 100%;
}
.main > .mainContent{
    width: calc(100% - 310px);
    min-width: 1056px;
    height: calc(100% - 58px);
}
/* 页脚 */
.main > .single-page-con > .bottomPage{
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;

}

#addMapping{
    height: calc(100% - 48px);
    overflow-y: auto;
    position: absolute;
    background: #fff;
}
.ivu-tabs-bar{
    border-color:#f2f2f2;
}
.ivu-table tr{
    height: 40px;
    line-height: 40px;
}